@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Contact.js */

.container_icons {
  position: relative; 
  left: 150px;
  text-align: left;
  height: 600px;
  overflow: auto;
}

.new_icons {
  position: absolute;
  width: 25%;
  float: left;
  padding-left: 30px;
}

.new_links {
  position: relative;
  float: left;
  width: 50%;
  padding-left: 30px;
  z-index: 10;
  margin-right: 30px;
  margin-lefT: 50px;
  margin-top: 7px;
  overflow: auto;
  white-space: nowrap;
}

.container_left {
  position: relative; 
  left: 150px;
  text-align: left;
  height: 600px;
  overflow: auto;
}

.container {
    position: relative; 
    right: 150px;
    text-align: left;
    height: 600px;
    overflow: auto;
    margin-left: 30px;
  }

  .main {
    display: flex;
  }

  .photo {
    height: 300px;
    width: 400px;
    margin-left: 70px;
    margin-top: 100px;
  }

  .icons {
    height: 35px;
    width: 35px;
    margin-left: 109px;
  }

  .icons_2 {
    height: 35px;
    width: 35px;
    margin-left: 105.25px;
  }

  .styling {
    display:inline-block;
  }

  .link {
    font-family: 'Montserrat', sans-serif;
    color: #1B3A5D;
    margin-left: 20px;
    font-weight: 600;
    font-size: 13px;
    margin-top: -10;
    line-height: 1.6;
    margin-right: 563px;
    text-decoration: none;
  }
  
  .header {
    color: #1B3A5D;
    margin-left: 50;
    font-family: 'League Spartan';
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 0.04em;
    margin-bottom: -50;
    line-height: 0.0002em;
  }
  
  .text {
    font-family: 'Montserrat', sans-serif;
    color: #1B3A5D;
    font-weight: 500;
    font-size: 30px;
    margin-top: -10;
    line-height: 0.0002em;
  }
  
  .form {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form > h1 {
    margin-bottom: 30px;
  }
  
  .form > input,
  textarea {
    padding: 15px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
    margin-bottom: 20px;
    border: 1px solid rgba(109, 207, 246, 1);
    /* border: none; */
    background: #fff;
    font-size: 16px;
    color: rgba(109, 207, 246, 1);
    outline: none;
    font-family: 'Montserrat', sans-serif;
    color: #1B3A5D;
    font-weight: 500;
  }
  
  .form > input:focus,
  textarea:focus {
    border: 1px solid rgba(109, 207, 246, 1);
  }
  
  .form > textarea {
    height: 30px;
    max-width: 400px;
    min-height: 50px;
    resize: none;
  }
  
  .form > label {
    padding-bottom: 10px;
    color: #1B3A5D;
    font-family: 'Montserrat', sans-serif;
    color: #1B3A5D;
    font-weight: 500;
  }
  
  .form > button {
    padding: 15px;
    border: none;
    background-color: rgba(109, 207, 246, 1);
    font-weight: 600;
    font-size: 18px;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 100px;
    height: 50px;
  }
  
  .form > button:hover {
    background-color: rgba(109, 207, 246, 1);
  }
  /* End of Contact.js */
