.login-logo{
    max-width: 40px;

}

.button-login{
    border: 2.5px solid;
    background-color: #1B3A5D;
    color: #E2F7FF;
   
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;

    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.1rem;
}

.button-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-textinput{
    width: 300px;
    border: 2.5px solid;
    color: #1B3A5D;
    background-color: #F5FCFF;
    border-radius: 15px;
    padding: 5%;
   
    
}

.input[type=text] {
   
    padding: 5%;
   
  }

  .text-login{
    font-size: 1rem;
    text-align: left;
    color:#1B3A5D;
  }

  .login{
    height: 90vh
  }

  .or-login{
    font-size: 1.5rem;
    color:#1B3A5D;
  }

  .extratext-login{
    font-size: 1rem;
    color:#1B3A5D;
    font-weight: 600;
  }