.container {
    display: grid;
    grid-template-columns:23% 23% 23%;
    grid-template-rows: auto auto auto auto;
    column-gap: 0%;
    row-gap: .2%;
    align-items: center, top;
    justify-content: center;
    margin-bottom: 40%;
    height: fit-content !important;
    /* overflow: hidden; */
  }

  .container div {
    /* padding: 5%;  */
    position:relative;
 }

 .mini__nav {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    padding-right: 1rem;
    /* align-items: top; */
 }

 .header-text1, .header-text3 {
    padding-right: 4rem;
 }

 .header-text1 {
  text-decoration: underline;
 }

 .header-text4 {
  text-decoration: underline;
 }

 .header-text2:hover {
  text-decoration: underline;
 }


 .header-text2, .header-text4 {
  margin-top: 39px;
  float: right;
 }

  .header-text1, .header-text2, .header-text3, .header-text4 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
    text-align: left;
    color: #1B3A5D;
    margin-left: 18%;
    padding-bottom: 3%;
    padding-top: 3%;
  }