.all {
    background-color: #F5FCFF;
}

.form {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    background-color: #F5FCFF;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.form__label {
    font-family: 'Montserrat', sans-serif;

    padding: 5px;
    display: flex;
    color:#1B3A5D;
}

.form__input {
    display: inline-block;
    display: flex;
    padding: 7px;
    width: 200px;

    background: #F5FCFF;
    border: 3px solid #1B3A5D;
    border-radius: 15px;
}

.leftline {
    margin-top: 5%;
    background-color: #1B3A5D;
    border:2px solid #1B3A5D;
}

button {
    font-family: 'Montserrat', sans-serif;
    color: white;

    margin-top:5%;

    background-color:#1B3A5D;
    border: 5px solid #1B3A5D;
    border-radius: 32px;
}

button:hover {
    background-color: #6DCFF6;
    border: 5px solid #6DCFF6;
}

.links {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

    color:#1B3A5D;
}

p {
    font-size: 15px;
}

